# =========================
# Python cache files
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/
.venv/

# =========================
# Flask / Django instance files
# =========================
instance/
*.db
*.sqlite3

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# ML Model Files (optional)
# =========================
*.pkl
*.h5
*.joblib

# =========================
# Logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env
.env.local
.env.*.local

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE files
# =========================
.vscode/
.idea/

# =========================
# Flask cache
# =========================
*.pot
*.mo
.pytest_cache/

# =========================
# Distribution / build
# =========================
build/
dist/
*.egg-info/